# Gradle
.gradle/
**/build/
!gradle/wrapper/gradle-wrapper.jar

# Local config
local.properties
*.iml

# Android/NDK intermediates
.cxx/
.externalNativeBuild/
.kotlin/
captures/

# IDE
.idea/
# (If you *do* want to share some IDE config, replace the above with:)
# .idea/*
# !.idea/codeStyles/**
# !.idea/inspectionProfiles/**
# !.idea/runConfigurations/**

# OS/editor
.DS_Store
Thumbs.db

# Keystores & signing
*.jks
*.keystore
keystore.properties

# ProGuard/R8 outputs
**/outputs/mapping/**
*.hprof
